{
    "swagger": "2.0",
    "info": {
        "title": "Fleabag API",
        "description": "Fleabag quote API. Get random quote from Phoebe Waller-Bridge's Fleabag.",
        "version": "1.0.0"
    },
    "host": "fleabag-quotes.livkndt.com",
    "basePath": "/quotes",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json",
        "image/png"
    ],
    "paths": {
        "/random": {
            "get": {
                "tags": [
                    "Quotes"
                ],
                "description": "Get a random quote from the show.",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Quote"
                        }
                    }
                }
            }
        },
        "/characters": {
            "get": {
                "tags": [
                    "Quotes"
                ],
                "description": "Returns a list of all the characters who have quote available.",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/random/inspirational": {
            "get": {
                "tags": [
                    "Images"
                ],
                "description": "Returns a random quote from any character in the show as an inspirational 400x400 png image.",
                "produces": [
                    "image/png"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/{id}": {
            "get": {
                "tags": [
                    "Quotes"
                ],
                "description": "Returns a quote from the show by numeric quote id.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Quote ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Quote"
                        }
                    }
                }
            }
        },
        "/{id}/inspirational": {
            "get": {
                "tags": [
                    "Quotes"
                ],
                "description": "Returns a quote from the show by numeric quote id as an inspirational 400x400 png image.",
                "produces": [
                    "image/png"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Quote ID"
                    },
                    {
                        "name": "imageWidth",
                        "in": "query",
                        "description": "Width of image in pixels (max 2400)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "imageHeight",
                        "in": "query",
                        "description": "Height of image in pixels (max 3000)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "fontSize",
                        "in": "query",
                        "description": "Font size of the quote text (max 96)",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/characters/{character}": {
            "get": {
                "tags": [
                    "Quotes"
                ],
                "description": "Returns all the quote from a specific character.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "character",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Character name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "type": {
                                    "type": "string",
                                    "example": "array"
                                },
                                "items": {
                                    "$ref": "#/definitions/Quote"
                                }
                            },
                            "xml": {
                                "name": "main"
                            }
                        }
                    }
                }
            }
        },
        "/characters/{character}/random": {
            "get": {
                "tags": [
                    "Quotes"
                ],
                "description": "Returns a random quote from a specific character.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "character",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Character name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Quote"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Quote": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "number",
                    "example": 1
                },
                "character": {
                    "type": "string",
                    "example": "Fleabag"
                },
                "quote": {
                    "type": "string",
                    "example": "Hair is everything."
                }
            }
        }
    }
}
